html,
body {
  padding: 0;
  font-size: 62.5%;
  font-family: monospace;
  box-sizing: border-box; 
  margin: 0;
  
}

canvas{
  position: absolute;

  height: 100rem !important;
  width: 100rem !important;
 
}
a{
  text-decoration: none;
}