.Principal-Container{
 
    display: grid;
    grid-template-areas:"sidebar home"
                        "sidebar skills"
    ;
    grid-template-columns: 15% 85%;

    
}

@media screen and (max-width: 768px){
    
	.Principal-Container {
		grid-template-areas: "home home "
						 "skills skills";
        
	}

}