.Home {
  position: relative;
  background-image: url("../../img/background.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100%;
  grid-area: home;
}

.Home-wellcome-name {
  color: whitesmoke;

}
.Home-wellcome-name > h1 {
  font-size: 10rem;
  padding-left: 10rem;
}


.Home-wellcome-presentation span {
  display: block;
  font-family: monospace;
  white-space: nowrap;
  border-right: 4px solid;
  font-size: 5rem;
  color: whitesmoke;
  width: 19ch;
  padding-left: 10rem;
  animation: typing 5s steps(19) infinite alternate, blink 0.5s infinite alternate;
  overflow: hidden;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@media screen and (max-width: 768px){
    
  .Home{
    display:flex;
    align-self: center;
    align-items: center;
  }

  .Home-wellcome-presentation span {

    display: flex;
    flex-wrap: wrap;
    font-size: 4rem;
    margin-left: -6rem;

  }


}