.SideBar {
  position: fixed;
  background-color: #040b14;
  height: 100%;
  width: 15%;
  display: flex;
  flex-direction: column;
  grid-area: sidebar;
}

.Profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  margin-top: 3rem;

}
.Profile-Photo{
  display: flex;
  flex-direction: column;
  width:28em;

}
.Profile-name {
  color: whitesmoke;
  line-height: 5rem;
  font-size: 2.5rem;
  font-weight:bold;
  text-align: center;
}
.photo {
  border-radius: 100%;
}
.social{
  display: flex;
  align-self: center;
  justify-content: space-around;
  width: 28rem;
}

.icon>a{
  color: whitesmoke;
  font-size: 4rem;
  font-weight: bold;
  list-style-type: none;
}

/* .icon:hover {
  animation: icono 0.5s ease;

}
@keyframes icono {
    from{
        transform: rotate3d( 0,0,0,0);
    }
    
    to{
        transform: rotate3d(0,0,1, 360deg);
    }
} */


.nav {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: space-around;
  margin-top: 12rem;
}

.nav > a {
  color: whitesmoke;
  line-height: 5rem;
  height: 100%;
  font-size: 2.5rem;
  font-weight: bold;
}


.footer{
  margin-top: 32rem;
  color: whitesmoke;
  line-height: 5rem;
  height: 100%;
  text-align: center;
  font-size: 1.7rem;
  font-weight: bold;
}